<section class="section-form">
    <div class="container">
        <h2>Изменить элемент</h2>
        <form>
            <label>
                <input type="text" ng-model="title" placeholder="Заголовок" />
            </label>
            <label>
                <input type="text" ng-model="link"  placeholder="Ссылка" />
            </label>
            <label>
                <input type="text" ng-model="descr" placeholder="Описание" />
            </label>
            <button ng-click="save()" type="item.submit" class="btn waves-effect waves-light">сохранить элемент!</button>
        </form>
    </div>
</section>


