
// ***************************************************************************
// Section One Item
// ***************************************************************************

.section-item {
  padding-top: 60px;
  text-align: center;
  

  .mdi-navigation-more-vert.right {
    position: absolute;
    right: 10px;
  }

  .container:after {
    content: "";
    border-bottom: 1px solid $color-line;
    width: 100%;
    margin-top: 40px;    
    display: block;
  }


  .card {
    margin: 0 auto;
    display: block;
    width: 40%;
    padding-bottom: 30px;
  }
  .title {
    font-size: 24px !important;
    font-weight: bold;
    display: block;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
  }
}
