
// ***************************************************************************
// Main
// ***************************************************************************

.section-main {
  min-height: 300px;
  background:#7f76af;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 35px;
  .button {
    margin-top: 30px;
  }
  h1 {
    display: block;
    text-align: center;
  }
  h2 {
    display: block;
    text-align: center;
    padding-top: 15px;
  }
}


