@import '../_libs/mixin.scss';
@import '../_libs/clearfix.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  width: 100%;
  font-size: 16px;
}

.body_wrapper {
  position: relative;  
  margin: 0 auto;
  min-width: 1100px;
  overflow: hidden;  
}
.wrapper {
  position: relative;  
  height: 100%;  
  margin: 0 auto;
}
html, body {
  font-size: 16px;
}


.show {
  visibility: visible !important;
}



:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

textarea {
  resize: vertical;
}

address {
  font-style: normal;
}

ol {
  counter-reset: list1;

  li:before {
    counter-increment: list1;
    content: counter(list1) '. ';
  }

  ol {
    counter-reset: list2;

    li:before {
      counter-increment: list2;
      content: counter(list1) '.' counter(list2) '. ';
    }

    ol {
      counter-reset: list3;

      li:before {
        counter-increment: list3;
        content: counter(list1) '.' counter(list2) '.' counter(list3) '. ';
      }
    }
  }
}


.ui-slider-handle {
  -ms-touch-action: none;
  touch-action: none;
} 

a:hover {
  text-decoration: none;  
}


